.playerToBeEliminated{
    background-color: black;
    color: #ffe4e4;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    max-width: 3ch;
    border: #8a8787 solid 2px;
    font-family: JetBrains Mono;
}

.eliminated{
    color: rgba(240, 255, 255, 0.803);
    font-family: 'JetBrains Mono';
    font-size: 1.5em;
    background-color: #000;
    padding: 2px 4px;
    border: solid 2px #494949;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
}

.EliminateBt{
    background-color: #b13a3a;
    border: #ff6b6b solid 2px;
    color: rgba(255, 255, 255, 0.805);
    font-weight: 700;
    transition: all 0.1s ease;
    width: 80px;
    height: 60px;
    border-radius: 45px;
    padding: 10px;
    font-size: 20px;
    font-family: JetBrains Mono;
}

.LiveBt{
    background-color: #3ab142;
    border: #86ff6b solid 2px;
    color: rgba(255, 255, 255, 0.805);
    font-weight: 700;
    transition: all 0.1s ease;
    width: 80px;
    height: 60px;
    border-radius: 45px;
    padding: 10px;
    font-size: 20px;
    font-family: JetBrains Mono;
}

.LiveBt:active{
    background-color: #4bff75;
    transform: scale(0.9);
}

.EliminateBt:active{
    background-color: #ff4b4b;
    transform: scale(0.9);
}

.input-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.2);
    gap: 10px;
}

.radioInputs{
    display: flex;
    gap: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    background-color: #00000067;
    padding: 20px 30px;
    font-size: 20px;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    border: #ffffff13 solid 2px;
}

p{
    margin: 0%;
}
